*.rtf filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
.rtf filter=lfs diff=lfs merge=lfs -text
.pdf filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
/+0[[:space:]]MONEY_/BUY[[:space:]]USD-[[:space:]]INFLATION,[[:space:]]is[[:space:]]Chick filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/+0[[:space:]]MONEY_/TBA filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
/+0[[:space:]]MONEY_/xHELICOPTER filter=lfs diff=lfs merge=lfs -text
/+1[[:space:]]SYNCHRO_/IDEALS filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.PDF filter=lfs diff=lfs merge=lfs -text
*.mhtml filter=lfs diff=lfs merge=lfs -text
/+1[[:space:]]SYNCHRO_/Tresses/CIA[[:space:]]5 filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
*.url filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/+3[[:space:]]MEDITATION_/ALLIES/daBest filter=lfs diff=lfs merge=lfs -text
/+4[[:space:]]HEALTH_/sorryTOChrist filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Legal/Amonetary[[:space:]]Economics[[:space:]]-[[:space:]]A[[:space:]]Legal[[:space:]]Basis[[:space:]]Thereof[[:space:]][[:space:]]\#Albatross filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Legal/Amonetary[[:space:]]Economics[[:space:]]-[[:space:]]A[[:space:]]Legal[[:space:]]Basis[[:space:]]Thereof/Amonetary[[:space:]]Economics[[:space:]]-[[:space:]]A[[:space:]]Legal[[:space:]]Basis[[:space:]]Thereof[[:space:]][[:space:]]\#Albatross filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Legal/Amonetary[[:space:]]Economics[[:space:]]-[[:space:]]A[[:space:]]Legal[[:space:]]Basis[[:space:]]Thereof/Evidences filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/1[[:space:]]Syria[[:space:]]WAR[[:space:]]-[[:space:]]11 filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/2[[:space:]]Afghanistan[[:space:]]war/!Perfect[[:space:]]Fantasy filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/5[[:space:]]Persia[[:space:]]WAR[[:space:]]-[[:space:]]1 filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.lnk filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/CIA[[:space:]][[:space:]]\#33A9FF\[86BLUE\]/y[[:space:]]earth[[:space:]]Command/flight[[:space:]]Manual/Gas filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/Comms[[:space:]]SYNCHRO_ filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/Endgame filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/Mission[[:space:]]is[[:space:]]a[[:space:]]DISASTER[[:space:]]-[[:space:]]Girl[[:space:]]can[[:space:]]multiply filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/MissionUNSOLVABLE-Girl-Is-PERFECTION-UNLIMITED_A-Teacher filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/aTeam filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/fBirthdays filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/fracas/Amriufukiddin[[:space:]]running[[:space:]]different[[:space:]]versios[[:space:]]of[[:space:]]Github[[:space:]]too[[:space:]]MAYBE filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/w1[[:space:]]Ukraine[[:space:]]war/HOVER_[[:space:]]If[[:space:]]Putin[[:space:]]reL[[:space:]]Alexei[[:space:]]Navalny-[[:space:]]no[[:space:]]nuclear[[:space:]]war[[:space:]]-[[:space:]]Putin[[:space:]]is[[:space:]]a[[:space:]]cornered[[:space:]]tiger filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/xStrike[[:space:]]Corps[[:space:]]1 filter=lfs diff=lfs merge=lfs -text
/+5[[:space:]]PILOTING_/Z/xStrike[[:space:]]Corps[[:space:]]2 filter=lfs diff=lfs merge=lfs -text
/+6[[:space:]]QUOTE_/Confessions/ns2 filter=lfs diff=lfs merge=lfs -text
/+6[[:space:]]QUOTE_/Damage/accepted filter=lfs diff=lfs merge=lfs -text
*.aup3 filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
/+6[[:space:]]QUOTE_/Theses/ns filter=lfs diff=lfs merge=lfs -text
/+7[[:space:]]BREAKTHROUGH_/References filter=lfs diff=lfs merge=lfs -text
/+8[[:space:]]FUN_/FUN[[:space:]]TBA filter=lfs diff=lfs merge=lfs -text
/+9[[:space:]]WORK_/Amonetary[[:space:]]Economics[[:space:]]-revisited filter=lfs diff=lfs merge=lfs -text
/+9[[:space:]]WORK_/References-special filter=lfs diff=lfs merge=lfs -text
*.JPEG filter=lfs diff=lfs merge=lfs -text
/+9[[:space:]]WORK_/xxList-[[:space:]]bullies filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/00[[:space:]]Git[[:space:]]succinct filter=lfs diff=lfs merge=lfs -text
*.RTF filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/-Live_ filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
